#ac-content {
    width: 50vw;
    min-width: 450px;
    max-width: 750px;
    height: auto;

    margin: auto;
    margin-top: 80px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--light-gray);
}

#ac-content h1 {
    color: black;
    border-bottom: 1px solid black;
    width: fit-content;
    margin: auto;
    margin-bottom: 60px;
}

#ac-content p {
    color: black;
    text-align: center;
    margin-bottom: 30px;
}