#account-settings-wrapper {
    padding: 60px 0;
}

#account-settings-content {
    width: 70vw;
    min-width: 50px;
    max-width: 950px;
    height: auto;

    margin: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--light-gray);

    font-size: 18px;
}

/**************** DELETE ACCOUNT ****************/

#delete-account-icon:hover {
    fill: red;
}

#delete-account-icon {
    position: relative;
    float: right;
}

/**************** FORM ****************/

.form-title {
    text-align: center;
}

.credential-notes {
    margin-bottom: 15px;
}

.as-form {
    padding-top: 30px;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.as-form input {
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.as-form input:focus {
    background-color: #EFFEFF;
    outline: none;
}

.as-form select {
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
}

.as-form select:focus {
    outline: none;
}

.as-form-label {
    padding-top: 5px;
    font-size: 18px;
    margin-right: 5px;
}

.as-form-row {
    display: grid;
    grid-template-columns: 25% 75%;
}

/**************** FORM SUBMIT ****************/

.as-form-submit {
    padding: 8px;
    width: 40%;
    max-width: 200px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    margin: auto;
    font-size: 18px;
    transition: all 0.25s;
}

.as-form-submit:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

/**************** RESPONSIVE STYLINGS ****************/

@media screen and (max-width: 1000px) {

    #account-settings-content {
        width: 80vw;
    }
}
