.form-outer-wrapper {
    padding: 100px 50px;
    width: 100%;

    /*background-color: aliceblue;*/
}

.form-wrapper {
    width: 400px;
    margin: auto;

    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*
#form-header {
    border: 1px solid green;
    position: absolute;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}*/

.form-title {
    text-align: center;
}

.form-title-link {
    font-size: 32px;
}

.form {
    padding: 0;

    width: 100%;
    /*
    width: 85%;
    margin: auto;*/
    display: flex;
    flex-direction: column;
    gap: 20px;

    /*border: 1px solid blue;*/
}

.form input {
    padding: 8px 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.form input:focus {
    outline: none;
}

.form select {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;

    font-family: 'Arial', 'Helvetica', 'sans-serif';
    color: black;
    font-size: 16px;
}

.form option {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    color: black;
    font-size: 16px;
}

.form select:focus {
    outline: none;
}

/*
.form-label {
    padding-top: 5px;
    font-size: 18px;
    margin-right: 5px;
}*/

.form-row {
    width: 100%;
}

.form-notes ul {
    padding-left: 20px;
    font-size: 16px;
}

.form-notes li {
    color: black;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

.li-spacer {
    margin-bottom: 10px;
}

/**************** FORM SUBMIT ****************/

.form-submit {
    padding: 8px;
    width: 100%;
   /* max-width: 200px;*/
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    /*margin: auto;*/
    font-size: 18px;
    transition: all 0.25s;
}

.form-submit:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.button-link {
    padding: 8px;
    width: 100%;
   /* max-width: 200px;*/
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    /*margin: auto;*/
    font-size: 18px;
    transition: all 0.25s;
}

.button-link:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

/**************** EDIT / DELETE ICONS ****************/

/*
#icon-wrapper {
    width: 100%;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

#student-settings-sub-wrapper {
    width: 60%;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--light-gray);
    border-radius: 10px;
}

#student-settings-sub-wrapper h1 {
    text-align: center;
}

#back-icon-wrapper svg:hover {
    fill: white;
}

#trash-icon-wrapper svg:hover {
    fill: red;
}

 -------------------- */

#delete-icon:hover {
    fill: red;
}

#delete-icon {
    position: relative;
    float: right;
}

/**************** FORM LINKS ****************/

.link-wrapper {
    text-align: center;
    font-size: 18px;
    color: black;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link {
    font-style: italic;
    text-decoration: underline;
}