/**************** CLASSES MENU ****************/

#home-content-wrapper {  
  width: 100%;
  min-width: 900px;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 20% 80%;
}

#classes-menu {
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  background-color: #D9D9D9;
  
  padding: 60px 20px;
  text-align: center;
}

#classes-menu ul {
  list-style-type: none;
}

#classes-menu li {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  color: black;
  font-size: 16px;  

  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
}

#classes-menu li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

#classes-menu h2 {
  margin-bottom: 30px;
}

#classes-menu-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 22px;
}

/**************** CLASS STUDENTS ****************/

#title-students-wrapper {
  width: 80%;
  max-width: 1300px;
  height: 100%;
  max-height: 800px;
  margin: auto;
  display: grid;
  grid-template-rows: 15% 75%;
}

#class-display-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#class-display {
  font-weight: bold;
}

#class-students-wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid black;
}

.class-students {
  display: none;
  background-color: white;

  gap: 15px;
  width: 100%;

  height: 100%;
  padding: 15px;

  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.index-student-card {
  width: 180px;
  height: 180px;
  background-color:#D9D9D9;
  text-align: center;
}

.index-student-card img {
  width: 160px;
  height: 140px;
  margin: auto;
  object-fit: cover;
}

.index-student-card img:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.index-student-card p {
  padding-top: 10px;
}

/**************** RESPONSIVE STYLINGS ****************/

@media screen and (max-width: 1000px) {

  #class-display {
    font-size: 27px;
  }

}