#student-settings-wrapper {
    padding: 100px 50px;
    width: 100%;
}

#student-settings-sub-wrapper {
    width: 60%;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--light-gray);
    border-radius: 10px;
}

#student-settings-sub-wrapper h1 {
    text-align: center;
}

#icon-wrapper {
    width: 100%;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

#student-settings-sub-wrapper {
    width: 60%;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--light-gray);
    border-radius: 10px;
}

#student-settings-sub-wrapper h1 {
    text-align: center;
}

#back-icon-wrapper svg:hover {
    fill: white;
}

#trash-icon-wrapper svg:hover {
    fill: red;
}

/**************** FORM ****************/

.form-title {
    text-align: center;
}

.us-form {
    padding: 30px 0;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.us-form input {
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
}

.us-form input:focus {
    background-color: #EFFEFF;
    outline: none;
}

.us-form select {
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
}

.us-form select:focus {
    outline: none;
}

.us-form-label {
    padding-top: 5px;
    font-size: 18px;
    margin-right: 5px;
}

.us-form-row {
    display: grid;
    grid-template-columns: 25% 75%;
}

/**************** FORM SUBMIT ****************/

.us-form-submit {
    padding: 8px;
    width: 40%;
    max-width: 200px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    margin: auto;
    font-size: 18px;
    transition: all 0.25s;
}

.us-form-submit:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}