:root {
    --dark-gray: #5E5E5E;
    --light-gray: #D9D9D9;
    --header-height: 91px;
}

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

p {
  color: black;
  font-size: 18px;
}

h1 {
  color: black;
  font-size: 35px;
  font-weight: normal;
}

h2 {
  color: black;
  font-size: 22px;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;  
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
  text-underline-position: under;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

/**************** HEADER ****************/

/* 
20px (padding) * 2 + 50px (logo-height) + 1px (border-bottom)
header-height = 91px 
*/

#header {
  width: 100%;  
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid black;
}

#header-logo {
  width: 170px;
  height: auto;
}

#header-logo p {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.right-header-row {
  display: flex;
  gap: 15px;
}

#right-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/**************** SEARCH BAR DROPDOWN ****************/

#shift-right {
  align-self: flex-end;
}

#shift-right form {
  display: flex;
  gap: 15px;
}

#search-bar {
  padding: 5px;
}

#search-submit {
  width: 30px;
  padding: 5px;
}

/**************** SETTINGS DROPDOWN ****************/

#account_settings_link svg:hover {
  transition: rotate 0.5s;
}

#account_settings_link svg:hover {
  rotate: 180deg;
}

#dropdown-hover:hover .dropdown-content {
  right: 0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -300px;
  z-index: 1;
  transition: right 0.5s;

  width: 150px;
  height: 300px;
  padding: 15px;
  border-top: 2px solid black;

  color: black;
  background-color: var(--light-gray);
}

.dropdown-content a {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.dropdown-content a:hover {
  text-decoration: underline;
}