{% extends 'photom/base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/about_contact.css' %}">
{% endblock %}

{% block content %}

<div id="ac-content">

    <h1> About SPI Photom </h1>

    <p>
        This website was developed by Giovanni Euresti.
        You can contact me at <b>gioeuresti123@gmail.com</b> for business inquiries. 
    </p>

    <p>
        If you're having issues with the website please reach out to Jennifer at 
        <b>jen@signaturephotographyinc.com</b>.
    </p>

    <p>
        The goal of the SPI Photo Manager tool is to simplify the transfer of student
        photos from photographer through the school to the parents. This website is 
        an easy-to-use hub for schools and SPI to manage the digital distribution of 
        student potratraits.
    </p>

    <p>
        Photom was made using Django for the front/backend and Postgresql for the 
        database. The languages used are Python, HTML, CSS, Javascript, and Django's
        template language.
    </p>

</div>


{% endblock %}