{% extends 'photom/base.html' %}

{% load static %}

{% block title %} Admin Dashboard {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/admin_dashboard.css' %}">
{% endblock %}

{% block content %}

    <div id="admin-dashboard-wrapper">
        <div class="ad-block-wrapper">
            <div>
                <h1> Notifications </h1>
            </div>

            <div id="notification-form-wrapper">
                <form id="notification-form" action="{% url 'admin_dashboard' %}" method="post">
                    {% csrf_token %}
    
                   <!-- <div style="display: none;">
                        {{ notification_form.primary_key }}
                    </div> -->
    
                    <div class="nf-row">
                        {{ notification_form.title.label }}
                        {{ notification_form.title }}
                    </div>

                    <div class="nf-row">
                        {{ notification_form.message.label }}
                        {{ notification_form.message }}
                    </div>

                    {% if notification_form.title.errors %}
                    <div class="error-list">
                        {% for error in notification_form.title.errors %}
                            <p class="error-message"> * {{ error }} </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    {% if notification_form.message.errors %}
                    <div class="error-list">
                        {% for error in notification_form.message.errors %}
                            <p class="error-message"> * {{ error }} </p>
                        {% endfor %}
                    </div>
                    {% endif %}
    
                    <input id="nf-submit" type="submit" value="Send">
                    
                </form>

            </div>

            <div id="notifications-wrapper">
                <div class="notification">
                    <p> "Title", sent to <i>Buckner Elementary</i> on <i>5/7/2024</i> </p>
                    <p><b> Read on 5/8/2024 </b></p>
                </div>
                <div class="notification">
                    <p> "Title", sent to <i>Huebner Oaks Elementary</i> on <i>5/3/2024</i> </p>
                    <p><b> Unread </b></p>
                </div>
                <div class="notification">
                    <p> "Title", sent to <i>Huebner Oaks Elementary</i> on <i>5/3/2024</i> </p>
                    <p><b> Unread </b></p>
                </div>
                <div class="notification">
                    <p> "Title", sent to <i>Huebner Oaks Elementary</i> on <i>5/3/2024</i> </p>
                    <p><b> Unread </b></p>
                </div>
                <div class="notification">
                    <p> "Title", sent to <i>Huebner Oaks Elementary</i> on <i>5/3/2024</i> </p>
                    <p><b> Unread </b></p>
                </div>
            </div>

        </div>

        <div class="ad-block-wrapper">
            <div>
                <h1> Schools </h1>
            </div>
            <div id="schools-wrapper">
                {% for school in schools %}
                <div class="school">
                    <h2> {{ school.school_name }} </h2>
                    <p> 
                        Managed by {{ school.user.first_name }} {{ school.user.last_name }}
                    </p>
                </div>
                {% endfor %}
                <!--
                <div class="school">
                    <h2> School Name </h2>
                    <p> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing 
                        elit, sed do eiusmod tempor incididunt ut labore 
                        et dolore magna aliqua.
                    </p>
                </div>
                -->
            
            </div>

        </div>
    </div>

{% endblock %}