<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'photom/style.css' %}">
        {% block style %} {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Default Page Title {% endblock %}</title>

        <script src="https://kit.fontawesome.com/de872b992f.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div id="header">
            <a href="{% url 'index' %}">
                <img id="header-logo" src="{% static 'photom/SPI_logo.png'%}">
            </a>
            
            <div id="right-header">

                <div class="right-header-row">
                    {% if school %}
                    <div id="logged-in">
                        {% if request.user.is_superuser %}
                        <p>
                            Logged in as: <b style="margin-left: 10px;"> Administrator </b>
                        </p>
                        {% else %}
                        <p>
                            Logged in as: <b style="margin-left: 10px;"> {{ school.school_name }} </b>
                        </p>
                        {% endif %}
                    </div>

                    <!-- INBOX DROPDOWN -->
                    {% if not request.user.is_superuser %}
                    <div id="inbox-wrapper">
                        <div id="inbox-icon-wrapper">
                            <i id="inbox" class="fa-solid fa-inbox"></i>
                        </div>
                        <div class="inbox-content">

                            <h2 id="inbox-note" style="text-align: center;"> Click the check to mark as read </h2>

                            {% for notif in notifications %}

                                {% if notif.read %}
                                <div id="notification-{{notif.pk}}" class="notif" data-notifid="{{notif.pk}}" onclick="updateFlasher()">
                                    <h2> {{ notif.title }} </h2>
                                    <p> {{ notif.message }} </p>
                                    <div class="notif-footer">
                                        <p><i>{{ notif.send_date }}</i></p>
                                        <p id="remove-notification-{{notif.pk}}" class="remove-notification fa-solid fa-trash" data-notifid="{{notif.pk}}"></p>
                                    </div>
                                </div>
                                {% else %}
                                <div id="notification-{{notif.pk}}" class="notif unread" data-notifid="{{notif.pk}}" onclick="updateFlasher()">
                                    <h2> {{ notif.title }} </h2>
                                    <p> {{ notif.message }} </p>
                                    <div class="notif-footer">
                                        <p><i>{{ notif.send_date }}</i></p>
                                        <p id="read-notification-{{notif.pk}}" class="read-notification fa-solid fa-check" data-notifid="{{notif.pk}}"></p>
                                        <p id="remove-notification-{{notif.pk}}" class="remove-notification fa-solid fa-trash" data-notifid="{{notif.pk}}"></p>
                                    </div>
                                </div>
                                {% endif %}

                            {% endfor %}

                        </div>
                    </div>
                    {% endif %}

                    <!-- SETTINGS DROPDOWN -->
                    
                    <div>
                        <a id="account_settings_link">
                            <div id="dropdown-hover">

                                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="20px" height="20px"><path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"/></svg>
            
                                <div class="dropdown-content">
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'admin:index' %}"> Admin Dashboard </a>
                                    <a href="{% url 'notifications' %}"> Notifications </a>
                                    <a href="{% url 'schools_dashboard' %}"> School CSV Files </a>
                                    <a href="{% url 'upload_photos' %}"> Upload Photos </a>
                                    {% else %}
                                    <a href="{% url 'index' %}"> Home </a>
                                    <a href="{% url 'manage_classes' %}"> Manage Classes </a>
                                    {% endif %}
                                    <a href="{% url 'upload_csv' %}"> Upload CSV Data </a>
                                    {% if not request.user.is_superuser %}
                                    <a href="{% url 'account_settings' %}"> Settings </a>
                                    {% endif %}
                                    <a href="{% url 'about' %}"> About </a>
                                    <a href="{% url 'contact' %}"> Contact </a>
                                    <a> 
                                        <form id="logout-form" action="{% url 'logout' %}" method="post"> 
                                            {% csrf_token %} 
                                            <button type="submit" onclick="resetStorage()">
                                                Logout
                                            </button>
                                        </form>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}

                </div>

                {% if school %}

                <div id="shift-right" class="right-header-row">
                    <form action="{% url 'search_students' %}" method="post">
                        {% csrf_token %}
                        <input id="search-bar" type="text" name="searched" placeholder="Search...">
                        <button id="search-submit" type="submit"><i class="fa fa-search"></i></button>
                    </form> 
                </div>

                {% endif %}

            </div>
        </div>

        {% block content %}

        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">

        // Clear storage so that the javascript doesn't attempt
        // to access classes from different accounts
        function resetStorage() {
            localStorage.clear();
        }

        // Whenever the X button is clicked hide the notification
        $('.remove-notification').click(function() {
            
            var notif_id;
            notif_id = $(this).attr("data-notifid");

            console.log("hide notification " + notif_id);

            $.ajax(
            {
                type:"GET",
                url: "/photom/hide_notification/" + notif_id + "/",
                data: {},
                success: function( data ) 
                {
                    var hide_notif = document.getElementById('notification-' + notif_id);
                    hide_notif.style.display = "none";
                    console.log(hide_notif);
                }
            })
        });

        // Whenever the notification is clicked mark it as read
        $('.read-notification').click(function() {

            var notif_id;
            notif_id = $(this).attr("data-notifid");

            $.ajax(
            {
                type:"GET",
                url: "/photom/read_notification/" + notif_id + "/",
                data: {},
                success: function( data ) 
                {
                    $( '#notification-' + notif_id ).removeClass('unread');
                }
            })

        });

        var inbox_note = document.getElementById("inbox-note");
        var inbox_content = document.getElementsByClassName("notif");
        var inbox = document.getElementById("inbox");

        /* Check if there are notifications in the inbox */
        if (inbox_content.length == 0) {
            /* Add note in inbox if empty */
            inbox_note.innerText = "No new notifications";
        } else {
            /* Inbox flashes red if there are unread notifications */
            for (var i = 0; i < inbox_content.length; i++) {
                if (inbox_content[i].classList.contains("unread")) {
                    inbox.classList.add("inbox-flash");
                    break;
                }
            }
        }

        // Remove the flash on the inbox icon if there are no more unread notifications
        function updateFlasher() {
            var unread_notifications = document.getElementsByClassName("unread");

            if (unread_notifications.length === 1) {
                inbox.classList.remove("inbox-flash");
            }
        }

        </script>
    </body>
</html>


