{% extends "photom/base.html" %}

{% load static %}

{% block title %} Settings {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/class_settings.css' %}">
    <link rel="stylesheet" href="{% static 'photom/form.css' %}">
{% endblock %}

{% block content %}
    <div class="form-outer-wrapper">
        <div class="form-wrapper">
            <div id="class-name-icon-wrapper">

                <!--
                <div id="icon-wrapper">
                    <a id="back-icon-wrapper" href="{% url 'manage_classes' %}">
                        <svg width="40" height="40" viewBox="0 0 276 276" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="138" cy="138" r="131" stroke="black" stroke-width="14"/>
                            <path d="M208 145C211.866 145 215 141.866 215 138C215 134.134 211.866 131 208 131L208 145ZM64.0503 133.05C61.3166 135.784 61.3166 140.216 64.0503 142.95L108.598 187.497C111.332 190.231 115.764 190.231 118.497 187.497C121.231 184.764 121.231 180.332 118.497 177.598L78.8995 138L118.497 98.402C121.231 95.6683 121.231 91.2362 118.497 88.5025C115.764 85.7688 111.332 85.7688 108.598 88.5025L64.0503 133.05ZM208 131L69 131L69 145L208 145L208 131Z" fill="black"/>
                        </svg>
                    </a>
                </div>
            -->
                <h1 class="form-title"><i>{{ class.class_name }}</i></h1>
            </div>

            {{ class_form.non_field_errors }}
            <form class="form" action="{% url 'class_settings' class.pk %}" method="post">
                <h2 class="form-title"><b>Update Class Information</b></h2>
                {% csrf_token %}
                
                <div class="form-row">
                    {{ class_form.class_name }}
                </div>
                <div class="form-row">
                    {{ class_form.class_teacher }}
                </div>
                <div class="form-row">
                    {{ class_form.class_grade }}
                </div>
                
                <input class="form-submit" type="submit" name="update-class" value="Submit">

            </form>

            <form class="form" action="{% url 'delete_class' class.pk %}">
                <input class="form-submit" type="submit" value="Delete Class" onclick="return confirm('Are you want to delete this class? This action cannot be undone.');">
            </form>
            
        </div>
    </div>
{% endblock %}
