{% extends 'photom/base.html' %}

{% load static %}

{% block title %} Contact {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/about-contact.css' %}">
{% endblock %}

{% block content %}

<div id="ac-content">

    <h1> Contact Page </h1>

    <p>
        This website was developed by Giovanni Euresti.
        You can contact me at <b>gioeuresti123@gmail.com</b> for 
        business inquiries.
    </p>

    <p>
        Have any questions or want to report any bugs? Fill out the 
        contact form below and I'll get back to you within 3 business days.
    </p>

    <div>

    </div>

</div>


{% endblock %}