{% extends 'photom/base.html' %}

{% load static %}

{% block title %} Contact {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/about-contact.css' %}">
{% endblock %}

{% block content %}

<div id="ac-content">

    <h1> Contact Page </h1>

    <p>
        This website was developed by Giovanni Euresti.
        You can contact me at <b>gioeuresti123@gmail.com</b> for 
        business inquiries.
    </p>

    <p>
        If you're having issues with the website please or have other questions
        you can reach out to Jennifer from SPI at <b>jen@signaturephotographyinc.com</b>
    </p>

</div>


{% endblock %}