{% extends "photom/base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/index.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock %}

{% block content %}
    <div id="home-content-wrapper">
        <div id="classes-menu">
            <h2><a id="classes-menu-title" href="{% url 'manage_classes' %}">Classes</a></h2>
            <ul>
                {% for class in classes %}
                <li class="class-link">{{ class.class_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="title-students-wrapper">
            <div id="class-display-wrapper">
                <h1 id="class-display">No Classes To Display</h1>
                <div id="order-by-wrapper">
                    <label class="text-styling" for="sort-by">Sort Students: </label>
                    <select class="text-styling" name="sort-by" id="sort-by">
                        <option value="order-added" selected="selected">Order Added</option>
                        <option value="most-recent">Most Recent</option>
                        <option value="last-name">Last Name</option>
                        <option value="first-name">First Name</option>
                    </select>
                </div>
            </div>
            <div id="class-students-wrapper">
                {% for class in classes %}
                <div class="class-students">
                    {% for student in class.student_set.all %}
                    <div class="index-student-card">
                        <a href="{% url 'view_student' student.pk %}">
                            <p class="primary-key" style="display: none;"> {{ student.pk }} </p>
                            <img src="{% get_media_prefix %}{{ student.student_photo_ID }}">
                        </a>
                        <p>{{ student.first_name }} {{ student.last_name }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'photom/index.js' %}"></script>
{% endblock %}