

{% extends "photom/base.html" %}

{% load static %}

{% block title %} School CSVs {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/schools_dashboard.css' %}">
{% endblock %}

{% block content %}

    <div class="schools-dashboard-outer-wrapper">

        <div class="schools-dashboard-wrapper">

            <h1 class="sd-title"> School CSV Files </h1>

            <div class="sd-menu">
                {% for school in all_schools %}
                <div class="sd-card">
                    <p> {{ school.school_name }} </p>
                    {% if school.has_csv %}
                    <button type="button" class="download-csv" onclick="location.href='{% url 'download_school_csv' school.pk %}'"> Download CSV </button>
                    {% else %}
                    <p class="download-csv-null"> No CSV Available </p>
                    {% endif %}
                </div>
                {% endfor %}

            </div>
            
        </div>

    </div>
    
{% endblock %}