{% extends "photom/base.html" %}

{% load static %}

{% block title %} Student Settings {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/form.css' %}">
{% endblock %}

{% block content %}
    
    <div class="form-outer-wrapper">
        <div class="form-wrapper">

            <div id="form-header">
                <!-- <h1 class="form-title"><i><a class="form-title-link" href="">{{ student }}</a></i></h1> -->
                <h1 class="form-title"><i> {{ student.first_name }} {{ student.last_name }} </i></h1>            
            </div>
            
            <form class="form" enctype="multipart/form-data" action="{% url 'student_settings' student.pk %}" method="post">

                <h2 class="form-title"><b>Update Student Information</b></h2>
                {% csrf_token %}
                
                <div class="form-row">
                    {{ student_form.first_name }}
                </div>

                <div class="form-row">
                    {{ student_form.last_name }}
                </div>

                <div class="form-row">
                    {{ student_form.student_class }}
                </div>

                <div class="form-row">
                    {{ student_form.student_ID }}
                </div>

                <div class="form-row" style="display:none;">
                    <p> Student Photo ID (optional) </p>
                    {{ student_form.student_photo_ID }}
                </div>
                
                <input class="form-submit" type="submit" name="update-class" value="Update">

            </form>

            <form class="form" action="{% url 'delete_student' student.pk %}">
                <input class="form-submit" type="submit" value="Delete" onclick="return confirm('Are you want to delete this student? This action cannot be undone.');">
            </form>

        </div>
    </div>

{% endblock %}



