{% extends "photom/base.html" %}

{% load static %}

{% block title %} Upload CSV {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/form.css' %}">
{% endblock %}

{% block content %}
    <div class="form-outer-wrapper">
        <div class="form-wrapper" style="margin-bottom: 30px;">
            <div id="form-header">
                <h1 class="form-title"><i> Upload CSV File </i></h1>
            </div>

            {% if errs %}
            <div class="form-row">
                <p style="text-align: center; color: red;"> {{ errs }} </p>
            </div>
            {% endif %}

            {% if success %}
            <div class="form-row">
                <p style="text-align: center; color: green;"> {{ success }} </p>
            </div>
            {% endif %}

            <form class="form" enctype="multipart/form-data" action="{% url 'upload_csv' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    {{ csv_form.csv_file }}
                </div>
                {% if request.user.is_superuser %}
                <div class="form-row">
                    {{ csv_form.school }}
                </div>
                {% endif %}
                <input class="form-submit" type="submit" name="upload-csv" value="Upload" onclick="return confirm('Upload csv? This action cannot be undone.');">
            </form>
        </div>

        <div class="form-wrapper">
            <div id="form-header">
                <h1 class="form-title"><i> Note </i></h1>
            </div>

            <div class="form-row" style="text-align: center; color: black;">
                <p>
                    This form is for uploadign a file containing information such 
                    as Student First Name, Student Last Name, Grade, Teacher,
                    and Id Number.
                </p>
            </div>
        </div>
    </div>
{% endblock %}