{% extends "photom/base.html" %}

{% load static %}

{% block title %} Upload CSV {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/form.css' %}">
{% endblock %}

{% block content %}
    <div class="form-outer-wrapper">
        <div class="form-wrapper">
            <div id="form-header">
                <h1 class="form-title"><i> Upload Photos </i></h1>
            </div>

            {% if messages %}
            <div class="form-row">
                {% for message in messages %}
                <p class="{{ message.tags }}" style="text-align: center;"> {{ message }} </p>
                {% endfor %}
            </div>
            {% endif %}

            <form class="form" enctype="multipart/form-data" action="{% url 'upload_photos' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    {{ form.photos }}
                </div>
                <div class="form-row">
                    {{ form.school }}
                </div>
                <input class="form-submit" type="submit" name="upload-photos" value="Upload" onclick="return confirm('Upload photos? This action cannot be undone.');">
            </form>

        </div>
    </div>
{% endblock %}