{% extends "photom/base.html" %}

{% load static %}

{% block title %} Login {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/form.css' %}">
{% endblock %}

{% block content %}

    <div class="form-outer-wrapper">

        <div class="form-wrapper">

            <div>
                <h1 class="form-title"><b>Log In</b></h1>
            </div>

            <form class="form" action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <div class="form-row">
                    <div id="form-username">{{ form.username }}</div>
                </div>

                <div class="form-row">
                    <div id="form-password">{{ form.password }}</div>
                </div>

                {% if form.errors %}
                <div>
                    <p style="color: red; font-size: 16px; text-align: center;">* Please enter a correct username and password. </p>
                </div>
                {% endif %}
                
                <input class="form-submit" type="submit" name="update-class" value="Login">
                
            </form>

            <div class="link-wrapper">
                <p>Click <a href="{% url 'create_account' %}" class="link">here</a> to create an account.</p>
                <p>Forgot your password? Click <a href="{% url 'photom_password_reset' %}" class="link">here</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}