{% extends "photom/base.html" %}

{% load static %}

{% block title %} Login {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/login.css' %}">
{% endblock %}

{% block content %}

    <div id="login-wrapper">
        <div id="login-sub-wrapper">

            <div id="student-name-icon-wrapper">
                <h1><b>Sign in to your account</b></h1>
            </div>

            <form class="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <div class="login-form-row">
                    <div class="login-form-label">{{ form.username.label_tag }}</div>
                    {{ form.username }}
                </div>

                <div class="login-form-row">
                    <div class="login-form-label">{{ form.password.label_tag }}</div>
                    {{ form.password }}
                </div>

                {% if form.errors %}
                <div>
                    <p style="color: red; font-size: 16px; text-align: center;">* Your username and password did not match</p>
                </div>
                {% endif %}
                
                <input class="login-form-submit" type="submit" name="update-class" value="Login">
                
            </form>

            <div id="create-acc-reset-pwd-link">
                <a href="{% url 'create_account' %}">Click here to create an account</a>
            </div>

            <div id="create-acc-reset-pwd-link">
                <a href="{% url 'password_reset' %}">Click here to reset your password?</a>
            </div>
        </div>
    </div>

{% endblock %}