

{% extends "photom/base.html" %}

{% load static %}

{% block title %} Password Reset {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/form.css' %}">
{% endblock %}

{% block content %}
    <div class="form-outer-wrapper">
        <div class="form-wrapper">
            
            <h1 class="form-title"> Password Reset Sent </h1>

            <div class="form-row">
                <p> We emailed you instructions for resetting your 
                    password. If an account with the provided email 
                    exists, you should receive them shortly.
                </p>
            </div>
            
            <div class="form-row">
                <p> If you did not receive an email, please make sure
                    you provided the email you registered your account 
                    with, and check your spam folder.
                </p>
            </div>

        </div>
    </div>
{% endblock %}
