{% extends "photom/base.html" %}

{% load static %}

{% block title %} Password Reset {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/form.css' %}">
{% endblock %}

{% block content %}
    <div class="form-outer-wrapper">
        <div class="form-wrapper">
            
            <h1 class="form-title"> Create A New Password </h1>
            
            <div class="form-row">
                <p> Type your new password twice to verify it is correct. </p>
            </div>
            
            <form class="form" method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="form-row">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <div class="form-row">
                    {{ form.new_password1 }}
                </div>
                {% if form.new_password1.errors %}
                <div class="form-row form-notes">
                    {{ form.new_password1.errors }}
                </div>
                {% endif %}
                <div class="form-row">
                    {{ form.new_password2 }}
                </div>
                {% if form.new_password2.errors %}
                <div class="form-row form-notes">
                    {{ form.new_password2.errors }}
                </div>
                {% endif %}
            
                <input class="form-submit" type="submit" name="update password">
            </form>

        </div>
    </div>
{% endblock %}
