{% extends "photom/base.html" %}

{% load static %}

{% block title %} Login {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/create_account.css' %}">
{% endblock %}

{% block content %}

    <div id="create-account-wrapper">
        <div id="ca-sub-wrapper">

            <h1 id="form-title"> Sign up for SPI Photo Manager </h1>

            <form class="ca-form" action="{% url 'create_account' %}" method="post">
                {% csrf_token %}

                <div class="ca-form-row">
                    <div class="ca-form-label"> First Name </div>
                    {{ account_form.first_name }}
                </div>

                <div class="ca-form-row">
                    <div class="ca-form-label"> Last Name </div>
                    {{ account_form.last_name }}
                </div>

                <div class="ca-form-row">
                    <div class="ca-form-label"> Username </div>
                    {{ account_form.username }}
                </div>

                <div class="credential-notes">
                    <ul>
                        <li>Your username must be fewer than 150 characters.</li>
                    </ul>
                </div>

                <div class="ca-form-row">
                    <div class="ca-form-label"> Password </div>
                    {{ account_form.password1 }}
                </div>

                <div class="ca-form-row">
                    <div class="ca-form-label"> Confirm Password </div>
                    {{ account_form.password2 }}
                </div>

                <div class="credential-notes">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>

                <div class="ca-form-row">
                    <div class="ca-form-label"> Full School Name </div>
                    {{ account_form.school_name }}
                </div>

                <div class="ca-form-row">
                    <div class="ca-form-label"> Office Phone Number </div>
                    {{ account_form.school_phone }}
                </div>

                <div class="ca-form-row">
                    <div class="ca-form-label"> Email </div>
                    {{ account_form.email }}
                </div>

                <div class="ca-form-row">
                    <div class="ca-form-label"> Position at School </div>
                    {{ account_form.school_position }}
                </div>
                
                <input class="ca-form-submit" type="submit" name="create_account" value="Create Account">
                
                <p id="approval-note"> * Please give us up to five business days to approve your account. </p>

            </form>
        </div>
    </div>

{% endblock %}