{% extends "photom/base.html" %}

{% load static %}

{% block title %} Login {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'photom/login.css' %}">
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div id="login-wrapper">
        <div id="login-sub-wrapper">

            <div id="student-name-icon-wrapper">
                <h1><b>Sign in to your account</b></h1>
            </div>

            <form class="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <div class="login-form-row">
                    <div class="login-form-label">{{ form.username.label_tag }}</div>
                    {{ form.username }}
                </div>

                <div class="login-form-row">
                    <div class="login-form-label">{{ form.password.label_tag }}</div>
                    {{ form.password }}
                </div>
                
                <input class="login-form-submit" type="submit" name="update-class" value="Login">
            
                <!--
                <input type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">
                -->
                
            </form>

            <div id="password-reset-link">
                <a href="{% url 'password_reset' %}">Lost password?</a>
            </div>
        </div>
    </div>

{% endblock %}